<div class="container mt-4">
    <h2>Đăng nhập</h2>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <form method="post">

        <div class="mb-3">
            <label>Email</label>
            <input name="email"
                   class="form-control" />
        </div>

        <div class="mb-3">
            <label>Số điện thoại</label>
            <input name="phone"
                   class="form-control" />
        </div>

        <button type="submit"
                class="btn btn-primary">
            Đăng nhập
        </button>

    </form>
</div>